<html>
<head> 
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<title> Github Profile </title> 
</head>
<body>
<div class="container">
    <div class="text-center"><h2>Git UserInfo</h2></div>
<form method="post" action="/">
  <div class="form-group">
    <label for="username" style="width:500px;display:block;margin:auto">Username</label>
    <input type="text" class="form-control center-block" id="username" name="username" placeholder="JohnDoe" style="width:500px;display:block;margin:auto">
  </div>
  <button type="submit" class="btn btn-primary" style="display:block;margin:auto">Submit</button>
</form>
</div>
</body>
</html>
